/* Untitled UI theme (excerpt). Use Tailwind classes like text-primary, bg-primary, border-primary. */
@theme {
    /* FONT FAMILY */
    --font-body: var(--font-inter, "Inter"), -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --font-display: var(--font-inter, "Inter"), -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --font-mono: ui-monospace, "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* FONT SIZE */
    --text-xs: calc(var(--spacing) * 3);
    --text-xs--line-height: calc(var(--spacing) * 4.5);

    --text-sm: calc(var(--spacing) * 3.5);
    --text-sm--line-height: calc(var(--spacing) * 5);

    --text-md: calc(var(--spacing) * 4);
    --text-md--line-height: calc(var(--spacing) * 6);

    --text-lg: calc(var(--spacing) * 4.5);
    --text-lg--line-height: calc(var(--spacing) * 7);

    --text-xl: calc(var(--spacing) * 5);
    --text-xl--line-height: calc(var(--spacing) * 7.5);

    --text-display-xs: calc(var(--spacing) * 6);
    --text-display-xs--line-height: calc(var(--spacing) * 8);

    --text-display-sm: calc(var(--spacing) * 7.5);
    --text-display-sm--line-height: calc(var(--spacing) * 9.5);

    --text-display-md: calc(var(--spacing) * 9);
    --text-display-md--line-height: calc(var(--spacing) * 11);
    --text-display-md--letter-spacing: -0.72px;

    --text-display-lg: calc(var(--spacing) * 12);
    --text-display-lg--line-height: calc(var(--spacing) * 15);
    --text-display-lg--letter-spacing: -0.96px;

    --text-display-xl: calc(var(--spacing) * 15);
    --text-display-xl--line-height: calc(var(--spacing) * 18);
    --text-display-xl--letter-spacing: -1.2px;

    --text-display-2xl: calc(var(--spacing) * 18);
    --text-display-2xl--line-height: calc(var(--spacing) * 22.5);
    --text-display-2xl--letter-spacing: -1.44px;

    /* MAX WIDTH */
    --max-width-container: 1280px;

    /* BREAKPOINTS */
    --breakpoint-xxs: 320px;
    /* This must match the breakpoint in Sonner: https://github.com/emilkowalski/sonner/blob/main/src/styles.css */
    --breakpoint-xs: 600px;

    /* RADIUS */
    --radius-none: 0px;
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-DEFAULT: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-full: 9999px;

    /* SHADOW */
    --shadow-xs: 0px 1px 2px rgba(10, 13, 18, 0.05);
    --shadow-sm: 0px 1px 3px rgba(10, 13, 18, 0.1), 0px 1px 2px -1px rgba(10, 13, 18, 0.1);
    --shadow-md: 0px 4px 6px -1px rgba(10, 13, 18, 0.1), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
    --shadow-lg: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 2px 2px -1px rgba(10, 13, 18, 0.04);
    --shadow-xl: 0px 20px 24px -4px rgba(10, 13, 18, 0.08), 0px 8px 8px -4px rgba(10, 13, 18, 0.03), 0px 3px 3px -1.5px rgba(10, 13, 18, 0.04);
    --shadow-2xl: 0px 24px 48px -12px rgba(10, 13, 18, 0.18), 0px 4px 4px -2px rgba(10, 13, 18, 0.04);
    --shadow-3xl: 0px 32px 64px -12px rgba(10, 13, 18, 0.14), 0px 5px 5px -2.5px rgba(10, 13, 18, 0.04);

    --shadow-skeumorphic: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset;
    --shadow-xs-skeumorphic: var(--shadow-skeumorphic), var(--shadow-xs);

    --shadow-modern-mockup-inner-lg: 0px 0px 3.765px 1.255px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.51px 1.255px rgba(10, 13, 18, 0.03) inset;
    --shadow-modern-mockup-inner-md: 0px 0px 1.692px 0.564px rgba(10, 13, 18, 0.08) inset, 0px 0px 1.128px 0.564px rgba(10, 13, 18, 0.03) inset;
    --shadow-modern-mockup-inner-sm: 0px 0px 4.48px 1.493px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.987px 1.493px rgba(10, 13, 18, 0.03) inset;

    --shadow-modern-mockup-outer-lg:
        0px 7.529px 10.039px -2.51px rgba(10, 13, 18, 0.08), 0px 2.51px 3.765px -1.255px rgba(10, 13, 18, 0.03),
        0px 1.255px 1.255px -0.627px rgba(10, 13, 18, 0.04);
    --shadow-modern-mockup-outer-md:
        0px 3.385px 4.513px -1.128px rgba(10, 13, 18, 0.08), 0px 1.128px 1.692px -0.564px rgba(10, 13, 18, 0.03),
        0px 0.564px 0.564px -0.282px rgba(10, 13, 18, 0.04);

    --drop-shadow-iphone-mockup: 20px 12px 18px rgba(16, 24, 40, 0.2);

    /* ANIMATIONS */
    --animate-marquee: marquee 60s linear infinite;
    --animate-caret-blink: caret-blink 1s infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes caret-blink {
        0%,
        50% {
            opacity: 1;
        }
        51%,
        100% {
            opacity: 0;
        }
    }

    /* BASE COLOR */
    --color-transparent: rgb(0 0 0 / 0);

    --color-white: rgb(255 255 255);
    --color-black: rgb(0 0 0);

    --color-brand-25: rgb(252 250 255);
    --color-brand-50: rgb(249 245 255);
    --color-brand-100: rgb(244 235 255);
    --color-brand-200: rgb(233 215 254);
    --color-brand-300: rgb(214 187 251);
    --color-brand-400: rgb(182 146 246);
    --color-brand-500: rgb(158 119 237);
    --color-brand-600: rgb(127 86 217);
    --color-brand-700: rgb(105 65 198);
    --color-brand-800: rgb(83 56 158);
    --color-brand-900: rgb(66 48 125);
    --color-brand-950: rgb(44 28 95);

    --color-error-25: rgb(255 251 250);
    --color-error-50: rgb(254 243 242);
    --color-error-100: rgb(254 228 226);
    --color-error-200: rgb(254 205 202);
    --color-error-300: rgb(253 162 155);
    --color-error-400: rgb(249 112 102);
    --color-error-500: rgb(240 68 56);
    --color-error-600: rgb(217 45 32);
    --color-error-700: rgb(180 35 24);
    --color-error-800: rgb(145 32 24);
    --color-error-900: rgb(122 39 26);
    --color-error-950: rgb(85 22 12);

    --color-warning-25: rgb(255 252 245);
    --color-warning-50: rgb(255 250 235);
    --color-warning-100: rgb(254 240 199);
    --color-warning-200: rgb(254 223 137);
    --color-warning-300: rgb(254 200 75);
    --color-warning-400: rgb(253 176 34);
    --color-warning-500: rgb(247 144 9);
    --color-warning-600: rgb(220 104 3);
    --color-warning-700: rgb(181 71 8);
    --color-warning-800: rgb(147 55 13);
    --color-warning-900: rgb(122 46 14);
    --color-warning-950: rgb(78 29 9);

    --color-success-25: rgb(246 254 249);
    --color-success-50: rgb(236 253 243);
    --color-success-100: rgb(220 250 230);
    --color-success-200: rgb(171 239 198);
    --color-success-300: rgb(117 224 167);
    --color-success-400: rgb(71 205 137);
    --color-success-500: rgb(23 178 106);
    --color-success-600: rgb(7 148 85);
    --color-success-700: rgb(6 118 71);
    --color-success-800: rgb(8 93 58);
    --color-success-900: rgb(7 77 49);
    --color-success-950: rgb(5 51 33);

    --color-gray-25: rgb(253 253 253);
    --color-gray-50: rgb(250 250 250);
    --color-gray-100: rgb(245 245 245);
    --color-gray-200: rgb(233 234 235);
    --color-gray-300: rgb(213 215 218);
    --color-gray-400: rgb(164 167 174);
    --color-gray-500: rgb(113 118 128);
    --color-gray-600: rgb(83 88 98);
    --color-gray-700: rgb(65 70 81);
    --color-gray-800: rgb(37 43 55);
    --color-gray-900: rgb(24 29 39);
    --color-gray-950: rgb(10 13 18);

    --color-gray-blue-25: rgb(252 252 253);
    --color-gray-blue-50: rgb(248 249 252);
    --color-gray-blue-100: rgb(234 236 245);
    --color-gray-blue-200: rgb(213 217 235);
    --color-gray-blue-300: rgb(179 184 219);
    --color-gray-blue-400: rgb(113 123 188);
    --color-gray-blue-500: rgb(78 91 166);
    --color-gray-blue-600: rgb(62 71 132);
    --color-gray-blue-700: rgb(54 63 114);
    --color-gray-blue-800: rgb(41 48 86);
    --color-gray-blue-900: rgb(16 19 35);
    --color-gray-blue-950: rgb(13 15 28);

    --color-gray-cool-25: rgb(252 252 253);
    --color-gray-cool-50: rgb(249 249 251);
    --color-gray-cool-100: rgb(239 241 245);
    --color-gray-cool-200: rgb(220 223 234);
    --color-gray-cool-300: rgb(185 192 212);
    --color-gray-cool-400: rgb(125 137 176);
    --color-gray-cool-500: rgb(93 107 152);
    --color-gray-cool-600: rgb(74 85 120);
    --color-gray-cool-700: rgb(64 73 104);
    --color-gray-cool-800: rgb(48 55 79);
    --color-gray-cool-900: rgb(17 19 34);
    --color-gray-cool-950: rgb(14 16 27);

    --color-gray-modern-25: rgb(252 252 253);
    --color-gray-modern-50: rgb(248 250 252);
    --color-gray-modern-100: rgb(238 242 246);
    --color-gray-modern-200: rgb(227 232 239);
    --color-gray-modern-300: rgb(205 213 223);
    --color-gray-modern-400: rgb(154 164 178);
    --color-gray-modern-500: rgb(105 117 134);
    --color-gray-modern-600: rgb(75 85 101);
    --color-gray-modern-700: rgb(54 65 82);
    --color-gray-modern-800: rgb(32 41 57);
    --color-gray-modern-900: rgb(18 25 38);
    --color-gray-modern-950: rgb(13 18 28);

    --color-gray-neutral-25: rgb(252 252 253);
    --color-gray-neutral-50: rgb(249 250 251);
    --color-gray-neutral-100: rgb(243 244 246);
    --color-gray-neutral-200: rgb(229 231 235);
    --color-gray-neutral-300: rgb(210 214 219);
    --color-gray-neutral-400: rgb(157 164 174);
    --color-gray-neutral-500: rgb(108 115 127);
    --color-gray-neutral-600: rgb(77 87 97);
    --color-gray-neutral-700: rgb(56 66 80);
    --color-gray-neutral-800: rgb(31 42 55);
    --color-gray-neutral-900: rgb(17 25 39);
    --color-gray-neutral-950: rgb(13 18 28);

    --color-gray-iron-25: rgb(252 252 252);
    --color-gray-iron-50: rgb(250 250 250);
    --color-gray-iron-100: rgb(244 244 245);
    --color-gray-iron-200: rgb(228 228 231);
    --color-gray-iron-300: rgb(209 209 214);
    --color-gray-iron-400: rgb(160 160 171);
    --color-gray-iron-500: rgb(112 112 123);
    --color-gray-iron-600: rgb(81 82 92);
    --color-gray-iron-700: rgb(63 63 70);
    --color-gray-iron-800: rgb(38 39 43);
    --color-gray-iron-900: rgb(26 26 30);
    --color-gray-iron-950: rgb(19 19 22);

    --color-gray-true-25: rgb(252 252 252);
    --color-gray-true-50: rgb(247 247 247);
    --color-gray-true-100: rgb(245 245 245);
    --color-gray-true-200: rgb(229 229 229);
    --color-gray-true-300: rgb(214 214 214);
    --color-gray-true-400: rgb(163 163 163);
    --color-gray-true-500: rgb(115 115 115);
    --color-gray-true-600: rgb(82 82 82);
    --color-gray-true-700: rgb(66 66 66);
    --color-gray-true-800: rgb(41 41 41);
    --color-gray-true-900: rgb(20 20 20);
    --color-gray-true-950: rgb(15 15 15);

    --color-gray-warm-25: rgb(253 253 252);
    --color-gray-warm-50: rgb(250 250 249);
    --color-gray-warm-100: rgb(245 245 244);
    --color-gray-warm-200: rgb(231 229 228);
    --color-gray-warm-300: rgb(215 211 208);
    --color-gray-warm-400: rgb(169 162 157);
    --color-gray-warm-500: rgb(121 113 107);
    --color-gray-warm-600: rgb(87 83 78);
    --color-gray-warm-700: rgb(68 64 60);
    --color-gray-warm-800: rgb(41 37 36);
    --color-gray-warm-900: rgb(28 25 23);
    --color-gray-warm-950: rgb(23 20 18);

    --color-moss-25: rgb(250 253 247);
    --color-moss-50: rgb(245 251 238);
    --color-moss-100: rgb(230 244 215);
    --color-moss-200: rgb(206 234 176);
    --color-moss-300: rgb(172 220 121);
    --color-moss-400: rgb(134 203 60);
    --color-moss-500: rgb(102 159 42);
    --color-moss-600: rgb(79 122 33);
    --color-moss-700: rgb(63 98 26);
    --color-moss-800: rgb(51 80 21);
    --color-moss-900: rgb(43 66 18);
    --color-moss-950: rgb(26 40 11);

    --color-green-light-25: rgb(250 254 245);
    --color-green-light-50: rgb(243 254 231);
    --color-green-light-100: rgb(227 251 204);
    --color-green-light-200: rgb(208 248 171);
    --color-green-light-300: rgb(166 239 103);
    --color-green-light-400: rgb(133 225 58);
    --color-green-light-500: rgb(102 198 28);
    --color-green-light-600: rgb(76 163 13);
    --color-green-light-700: rgb(59 124 15);
    --color-green-light-800: rgb(50 98 18);
    --color-green-light-900: rgb(43 83 20);
    --color-green-light-950: rgb(21 41 10);

    --color-green-25: rgb(246 254 249);
    --color-green-50: rgb(237 252 242);
    --color-green-100:

... (truncated)